@use './mixins' as m;
@use './variables' as v;


footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: v.$bitcoin-orange;

    section {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;

    }
    
    .left {

        ul {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.8rem;
            list-style: none;
    
            li {
                margin: 10px 0;
            }
        } 

        a {
            text-decoration: none;
            color: v.$just-white;
        }
    }
}