@use './mixins' as m;
@use './variables' as v;

header {
    position: relative;
    @include m.setDisplay(flex,column,center,center);
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;


    h1 {

        @include m.setFont(2.4rem,bold,2.6rem,v.$just-white);
    }

    p {
        margin-top: 25px;
        @include m.setFont(1.4rem,500,1.8rem,v.$just-white);

    }

    .header__button {
        position: absolute;
        top: 270px;
        margin: 35px;
        padding: 15px;
        width: 229px;
        height: 48px;
        background-color: v.$off-white;
        box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
        border: none;
        border-radius: 5px;
        @include m.setFont(1.4rem,bold,normal,v.$black);
        text-decoration: none;


        span {
            display: inline-block;
            width: 13px;
            height: 8px;
            margin-left: 10px;
            background-image: url('../../assets/icons/down-arrow.svg');
        }

    }

}
