@use './mixins' as m;
@use './variables' as v;

main {
    width: 100%;
    height: auto;
    background-color: v.$off-white;

}

.main-exchange-container {
    
    width: 100%;
    height: auto;
    padding: 80px 0 30px 0;
    text-align: center;

    .backgroundImg {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 50px;
        background: url('../../assets/img/Bitcoin.svg') center/cover no-repeat;
    }

    .main-exchange-container__title {
        width: 90%;
        min-width: 288px;
        max-width: 900px;
        margin: 0 auto;

        h2 {
            margin-bottom: 30px;
            @include m.setFont(2.4rem,bold,2.6rem,v.$black);

        }
    
        p {
            margin-bottom: 30px;
            @include m.setFont(1.4rem,500,1.6rem,v.$just-grey);

        }
    }

}

.main-tables-container {

    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

    .tables {
        scroll-snap-align: center;
        width: 70%;
        min-width: 235px;
        max-width: 500px;
        height: 360px;
        margin: 0 40px;
        font-family: "Inter", sans-serif;
    
    
        .tables__title {
            margin-bottom: 15px;
            @include m.setFont(1.8rem,bold,2.3rem,v.$bitcoin-orange);
    
        }
    
    
        .tables__title--blue {
            color: v.$secondary-blue;
        }
    
    
        .tables__container {
            width: 90%;
            min-width: 230px;
            max-width: 300px;
            height: 250px;
            margin: 0 auto;
    
            table {
                width: 100%;
                height: 100%;
            }
    
            td {
                width: 50%;
                @include m.setFont(1.6rem,500,1.9rem,v.$grey);
                background-color: v.$just-white;
            }
    
            .tables__data--top-left {
                border-radius: 15px 0 0;
            }
            
            .tables__data--top-right {
                border-radius: 0 15px 0 0;
            }
            
            .tables__data--bottom-left {
                border-radius: 0 0 0 15px;
            }
            
            .tables__data--bottom-right {
                border-radius: 0 0 15px 0;
            }
            
            .tables__data--right {
                @include m.setFont(1.4rem,normal,1.7rem,v.$just-grey);
    
            }
    
            .down {
                @include m.setIcon(15px,15px,10px,"../../assets/icons/trending-down.svg");
            }
    
            .up {
                @include m.setIcon(15px,15px,10px,"../../assets/icons/trending-up.svg");
            }
    
        }
    
        .tables__date {
            width: 190px;
            height: 30px;
            margin: 0 auto;
            margin-top: 15px;
            padding: 8px;
            background-color: v.$soft-orange;
            border-radius: 8px;
    
            p {
                @include m.setFont(1.2rem,300,1.5rem,v.$warm-black);
    
            }
    
        }
    
        .tables__date--blue {
            background-color: v.$soft-blue; 
        }
    
    
    
    }




}



/* SECTION 2 */

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: v.$warm-black;

    .product-detail__logo {
        position: absolute;
        width: 40px;
        height: 25px;
        background-image: url("../../assets/icons/batata.svg");
        top:-10px;
        left: calc(50% - 20px);
    }
    
    
    .product-detail__title {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;

        h2 {
            margin-bottom: 20px;
            @include m.setFont(2.4rem,bold,2.6rem,v.$just-white);
        }

        p {
            margin-bottom: 20px;
            @include m.setFont(1.4rem,500,1.8rem,#808080);

        }
    }


    .product-detail__card{
        width: 90%;
        min-width: 288px;
        max-width: 400px;
        min-height: 150px;
        margin: 15px auto;
        padding: 15px;
        background-color: v.$black;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);

        .card__icon {
            display: block;
            width: 20px;
            height: 20px;
            margin-bottom: 10px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .clock {
            background-image: url("../../assets/icons/clock.svg");
        }

        .eye {
            background-image: url("../../assets/icons/eye.svg");
        }

        .dolar {
            background-image: url("../../assets/icons/dollar-sign.svg");
        }

        .circle {
            background-image: url("../../assets/icons/check-circle.svg");
        }

        .product-card__title {
            margin-bottom: 15px;
            @include m.setFont(1.8rem,bold,1.8rem,v.$just-white);

        }

        .product-card__body {
            @include m.setFont(1.4rem,500,1.8rem,#808080);

        }

    }
}

/* section 3 */

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../../assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    h2 {
        padding-top: 60px;
        @include m.setFont(2.4rem,bold,2.6rem,v.$just-white);

    }

}

/*Section 4 */

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;

    .plans__title {
        width: 90%;
        min-width: 288px;
        height: auto;
        margin: 0 auto;

        h2 {
            padding-top: 50px;
            @include m.setFont(2.4rem,bold,2.6rem,v.$black);

        }

        p {
            padding-top: 30px;
            @include m.setFont(1.4rem,500,1.8rem,v.$just-grey);

        }
    }

    .plans-container__slider {
        display: flex;
        height: 316px;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;

        .plans-container__card {
            position: relative;
            scroll-snap-align: center;
            width: 70%;
            min-width: 230px;
            max-width: 300px;
            height: 250px;
            margin: 50px 40px 0;
            padding: 0 15px;
            background-color: v.$just-white;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);

            .recommendation {
                position: absolute;
                width: 120px;
                height: 31px;
                padding: 6px;
                top: -15px;
                left: calc(50% - 60px);
                font-size: 1.2rem;
                background-color: v.$bitcoin-orange;
                border-radius: 8px;
                color: v.$just-white;

            }

            .plan-info__container {

                .plan-card__title {
                    padding-top: 30px;
                    @include m.setFont(1.4rem,500,1.8rem,v.$black);

                }

                .plan-card__price {
                    position: relative;
                    padding: 5px 0;
                    @include m.setFont(5.2rem,bold,5.3rem,v.$black);
                    

                    span {
                        position: absolute;
                        top: -10px;
                        left: 25%;
                        font-size: 1.2rem;
                        font-weight: 300;
                        vertical-align: 25px;
                    }

                }

                .plan-card__saving {

                    font-size: 1.2rem;
                    color: v.$just-grey;
                }
                
                .plan-card__ca {
                    width: 150px;
                    height: 48px;
                    margin-top: 20px;
                    background-color: #faf8f7;
                    border: 2px solid v.$bitcoin-orange;
                    border-radius: 4px;
                    font-family: 'DM Sans', sans-serif;
                    @include m.setFont(1.4rem,bold,1.8rem,v.$black);

                    span {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-image: url('../../assets/icons/orange-right-arrow.svg');
                        vertical-align: text-bottom;
                    }
                }

            }
        }

    }

}
















