
@use './variables' as v;


@mixin setDisplay ($display: flex, $direction: column, $column: center, $row: center) {
    
    display: $display;

    @if $display == flex {
        flex-direction: $direction;
        justify-content: $column;
        align-items: $row;


    } @else {
        grid-template-columns: $column;

    }
    
}

@mixin setIcon ($width: 15px, $height: 15px, $margin: 10px, $url) {
    display: inline-block;
    width: $width;
    height: $height;
    margin-left: $margin;
    background-image: url($url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin setFont($size: 1.4rem, $weight: bold, $lineHeight: 1.8rem, $color: v.$just-white) {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
    color: $color;
}