@mixin setDisplay ($display: flex, $direction: column, $column: center, $row: center) {
    
    display: $display;

    @if $display == flex {
        flex-direction: $direction;
        justify-content: $column;
        align-items: $row;


    } @else {
        grid-template-columns: $column;

    }
    

    


}