* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;

}

@import './modules/header';
@import './modules/main';
@import './modules/footer';