.main-tables-container {
    width: 930px;
    margin: 0 auto;
    overflow: hidden; 
}

.product-cards__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 930px;
    margin: 0 auto ;
   
}

.main-plans-container .plans-container__slider {
    overflow-x: hidden;
    justify-content: center;

}

.main-product-detail .product-detail__card {
    margin: 15px 15px;

  }
